target/
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
.mtj.tmp/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.settings/
.project
.classpath
.factorypath
bin/
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
